<div id="socialColumns">
    <h2 class="center">HISTORIAL SOCIAL</h2>
    <hr />
    <div class="pAlign">
        <div id="headerPoints"><span class="pointsRed"><b><%= points[0].pointsS %></b> PuntosActiva </span>Ganó
            <b><%= points[0].nameR %></b></div>
        <br>
        <%= points[0].descriptionS %><br>
        <p>de parte de <b><%= points[0].nameS %></b>
    </div>
    <hr id="rankingHr" />
    <div class="pAlign">
        <div id="headerPoints"><span class="pointsRed"><b><%= points[1].pointsS %></b> PuntosActiva </span>Ganó
            <b><%= points[1].nameR %></b></div>
        <br>
        <%= points[1].descriptionS %><br>
        <p>de parte de <b><%= points[1].nameS %></b>
    </div>
    <hr id="rankingHr" />
    <div class="pAlign">
        <div id="headerPoints"><span class="pointsRed"><b><%= points[2].pointsS %></b> PuntosActiva </span>Ganó
            <b><%= points[2].nameR %></b></div>
        <br>
        <%= points[2].descriptionS %><br>
        <p>de parte de <b><%= points[2].nameS %></b>
    </div>
    <hr id="rankingHr" />
    <div class="pAlign">
        <div id="headerPoints"><span class="pointsRed"><b><%= points[3].pointsS %></b> PuntosActiva </span>Ganó
            <b><%= points[3].nameR %></b></div>
        <br>
        <%= points[3].descriptionS %><br>
        <p>de parte de <b><%= points[3].nameS %></b>
    </div>
    <hr id="rankingHr" />
    <div class="pAlign">
        <div id="headerPoints"><span class="pointsRed"><b><%= points[4].pointsS %></b> PuntosActiva </span>Ganó
            <b><%= points[4].nameR %></b></div>
            <br><%= points[4].descriptionS %><br>
        <p>de parte de <b><%= points[4].nameS %></b>
    </div>
    <hr id="rankingHr" />
    <div class="pAlign">
        <div id="headerPoints"><span class="pointsRed"><b><%= points[5].pointsS %></b> PuntosActiva </span>Ganó
            <b><%= points[5].nameR %></b></div>
        <br>
        <%= points[5].descriptionS %><br>
        <p>de parte de <b><%= points[5].nameS %></b>
    </div>
    <br><br><br>
</div>