<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/head", {webTitle: 'Mi perfil'}) %>
    <link rel="stylesheet" href="./style/stylePointsWhitSending.css">
</head>
<%- include("templates/menu") %>
<main>
    <article>
        <img src="" alt="imagen de usuario" id="userImg">
    </article>
    <table>
        <tr>
            <th>Nombre</th>
            <td><%= student.name %></td>
        </tr>
        <tr>
            <th>Primer Apellido</th>
            <td><%= student.first_surname %></td>
        </tr>
        <tr>
            <th>Segundo Apellido</th>
            <td><%= student.second_surname %></td>
        </tr>
        <tr>
            <th>Email Personal</th>
            <td><%= student.email_personal %></td>
        </tr>
        <tr>
            <th>Número de teléfono</th>
            <td><%= student.phone_number %></td>
        </tr>
        <tr>
            <th>Código postal</th>
            <td><%= student.zip_code %></td>
        </tr>
        <tr>
            <th>Activa Points</th>
            <td><%= student.activa_points_balance %></td>
        </tr>
    </table>
</main>

<%- include("templates/footer") %>

