<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/head", {webTitle: 'Mi perfil'}) %>
    <link rel="stylesheet" href="./style/stylePointsWhitSending.css">
</head>
<%- include("templates/menu") %>
<main>
<h3><%= student.name %></h3>
<h3><%= student.first_surname %></h3>
<h3><%= student.second_surname %></h3>
</main>

<%- include("templates/footer") %>

