<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/head", {webTitle: 'Ranking'}) %>
    <link rel="stylesheet" href="./style/styleranking.css">
</head>
<%- include("templates/menu") %>
<div class="column">

    <div id="rankingColumn">
        <h1>RANKING</h1>
        <hr id="rankingTitle" />
        
        <div class="rankingList1">
            <p class="rankingPositionPodium item1">1</p>
            <p class="item2"><%= ranking[0].name %> <%= ranking[0].fsurname %></p>
            <p class="item3"><em class="red">TOCANDO EL CIELO</em></p>
            <p class="item4"><span id="pointSize"><b><%= ranking[0].totalpoints %></b></span> PUNTOS ACTIVA</p>
        </div>
    
        <hr id="rankingHr" />
        <div class="rankingList1">
            <p class="rankingPositionPodium item1">2</p>
            <p class="item2"><%= ranking[1].name %> <%= ranking[1].fsurname %></p>
            <p class="item3"><em class="red">EN LA CRESTA DE LA OLA</em></p>
            <p class="item4"><span id="pointSize"><b><%= ranking[1].totalpoints %></b></span> PUNTOS ACTIVA</p>
        </div>
        <hr id="rankingHr" />
        <div class="rankingList1">
            <p class="rankingPositionPodium item1">3</p>
            <p class="item2"><%= ranking[2].name %> <%= ranking[2].fsurname %></p>
            <p class="item3"><em class="red">SABOREANDO EL PODIO</em></p>
            <p class="item4"><span id="pointSize"><b><%= ranking[2].totalpoints %></b></span> PUNTOS ACTIVA</p>
        </div>
        <hr id="rankingHr" />
        <div class="rankingList1">
            <p class="rankingPositionPodium2 item1">4</p>
            <p class="item2"><%= ranking[3].name %> <%= ranking[3].fsurname %></p>
            <p class="item3"><em class="blue">FUTURO PROMETEDOR</em></p>
            <p class="item4"><span id="pointSize"><b><%= ranking[3].totalpoints %></b></span> PUNTOS ACTIVA</p>
        </div>
        <hr id="rankingHr" />
        <div class="rankingList1">
            <p class="rankingPositionPodium2 item1">5</p>
            <p class="item2"><%= ranking[4].name %> <%= ranking[4].fsurname %></p>
            <p class="item3"><em class="blue">EN EL TOP 5</em></p>
            <p class="item4"><span id="pointSize"><b><%= ranking[4].totalpoints %></b></span> PUNTOS ACTIVA</p>
        </div>
        <hr id="rankingHr" />
    </div>

    <div>
        <div id="rankingCup">
            <div class="center">
                <img id="cup" src="./media/img/iconosMenu/ranking-blue.svg" alt="una copa"></div>
            <div id="myPosition">TU PUESTO ACTUAL<b id="myPositionNumber"><%= position[0].rankk %></b> <cite id="myTittle">PUNTOS: <b><%= position[0].totalpoints %></b></cite>
            </div>
        </div>
    </div>
</div>
<%- include("historialsocial") %>
<%- include("templates/footer") %>